body {
    font-family: helvetica, arial;
}

header.project-header {
    background: black;
    color: white;
}

h1 {

}

nav.account-nav {
    text-align: right;
}

nav.account-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav.account-nav ul li {
    display: inline-block;
    margin-right: 20px;
}