body {
    font-family: helvetica, arial;
}

header.project-header {
    background: black;
    color: white;
}

header.project-header a {
    color: white;
}

header h1 {
    padding: 10px;
}

nav.account-nav {
    text-align: right;
}

nav.account-nav ul {
    margin: 0;
    padding: 2px;
    list-style-type: none;
}

nav.account-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

section {

}

section div {

}