<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Data Overview</title>
</head>
<body>
    <header class = "project-header">
        <nav class = "account-nav">
            <ul>
                <li>
                    <a href="/home" th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <h1>Spring Project</h1>
    </header>
    <section>
        <h2>This is the current system state</h2><br/>

        <table border = "1" cellpadding = "10">
            <thead>
            <tr>
                <td>user_id</td>
                <td>username</td>
                <td>password</td>
                <td>active</td>
                <td>roles</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.id}">user_id</td>
                <td th:text="${user.username}">username</td>
                <td th:text="${user.password}">password</td>
                <td th:text="${user.active}">isActive</td>
                <td th:text="${user.roles}">roles</td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>