<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Home Page</title>
</head>
<body>
    <header class = "project-header">
        <nav class = "account-nav">
            <ul>
                <li>
                    <a href="/home" th:href="@{/home}">Home</a>
                </li>
                <li>|</li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a href="/register" th:href="@{/register}">Register</a>
                </li>
                <li>|</li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a href="/login">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <h1>Spring Project</h1>
    </header>
    <section>
        <h2>Welcome to my <em>work-in-progress</em>, with Spring!</h2>

        <div>
            <button onclick="location.href='/login'" type="button">
                Login</button>
        </div>
        <div>
            <button onclick="location.href='/register'" type="button">
                Register</button>
        </div>
    </section>
    <hr>
    <hr>
    <footer>
        <p>Author: dan-walker-CS</p>
        <p>Github: <a href="https://github.com/dan-walker-cs/spring-project">project_link</a></p>
        <p class = "secret-message">I love Nanz!</p>
    </footer>
</body>
</html>