<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Account Registration</title>
</head>
<body>
    <header class = "project-header">
        <nav class = "account-nav">
            <ul>
                <li>
                    <a href="/home" th:href="@{/home}">Home</a>
                </li>
                <li>|</li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
        <h1>Spring Project</h1>
    </header>
    <section>
        <h2>This is the account registration page</h2>

        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>username:</td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="text" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Create Account</button></td>
            </tr>
        </table>
    </section>
    <hr>
    <hr>
    <footer>
        <p>Author: dan-walker-CS</p>
        <p>Github: <a href="https://github.com/dan-walker-cs/spring-project">project_link</a></p>
        <p class = "secret-message">I love Nanz!</p>
    </footer>
</body>

</html>