<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Account</title>
</head>
<body>
    <header class = "project-header">
        <nav class = "account-nav">
            <ul>
                <li>
                    <a href="/home" th:href="@{/home}">Home</a>
                </li>
                <li>|</li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <h1>Spring Project</h1>
    </header>
    <section>
        <h2>Welcome, <span th:text="${user}"></span>!</h2>

        <button onclick="location.href='/logout'" type="button">
            Logout</button>
    </section>
    <hr>
    <hr>
    <footer>
        <p>Author: dan-walker-CS</p>
        <p>Github: <a href="https://github.com/dan-walker-cs/spring-project">project_link</a></p>
        <p class = "secret-message">I love Nanz!</p>
    </footer>
</body>
</html>