<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home" th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Welcome, <span th:text="${user}"></span>!</h1>

    <button onclick="location.href='/logout'" type="button">
        Logout</button>
</body>
</html>